.dshbrd-user-card {
    display: flex;
    justify-content: center;
}
.dshbrd-contents {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.user-record>h2, .active-leagues>h2{
    text-align: center;
}
