.dshbrd-contents {
    display: flex;
    justify-content: space-around;
}

.user-record{
    width: 30vw;
}


.active-leagues {
    width: 30vw;
}
.user-record>h2, .active-leagues>h2{
    text-align: center;
}
