.card {
    border: 1px solid rgb(220, 216, 216);
    width: 400px;
    height: auto;
    min-height: 151px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px 1px gray;
    border-radius: 7px;
    transition: all .5s;
}

.card:hover {
    box-shadow: 0 2px 6px 1px #ff914d;
    transition: all .5s;
}

@media screen and (max-width: 402px) {
    .card {
        width: 100vw;
    }
}
