.footer-container {
    margin-top: auto;
}
.footer {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: auto;
    height: 100px;
    background-color:black;
    /* border-top-style: solid;
    border-color: gray; */
  }
  
  .footerItem{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 2em;
    color: #ff914d;
  }