.card {
    background-color: rgb(168, 168, 168);
}
.user-card-contents {
    margin-left: 20px;
    display: flex;
}
.username, .stats {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    text-align: center;
}
.username {
    margin-bottom: 5px;
}
.user-icon{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 10px 5px;
    color: black;
    background-color: rgb(168, 168, 168);
    border: solid 1px;
    border-radius: 50%;
    box-shadow: 0 1px 6px 1px gray;
}

.stat-list {
    list-style-type: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li {
    margin-bottom: 10px;
}