.navbar {
    display:flex;
    background-color: black;
    justify-content: center;
    width: 100%;
}

.navbar-text {
    color:white;
    display: flex;
} 
.nav-link {
    color: white;
}

.title-subtitle {
    margin-right: 30em;
}
.navbar-title {
    padding: 0 1em 0 .25em;
    font-size: 3.5em;
    
}

.sub-title {
    display:flex;
    
}

.login-signUp-link {
    display:flex;
    align-items: center;
}

.login-signUp-link-text {
    padding: 0 1em;
}

.league-link-text {
    padding: 0 1em;
}