.header {
    display:flex;
    background-color: black;
    /* justify-content: center; */
    width: 100%;
}

.header-top {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.logo {
    width: 25%;
    height: auto;
    margin: 0 2em;
    
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 100%;
    height: auto;
    
}

.nav-link {
    color: #ff914d;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.nav-text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

@media screen and (max-width: 900px) {
    .navbar{
        flex-direction: column;
        justify-content: center;
    }

    .nav-text{
    font-size: 1em;
    }
    
}